.overlay-container{
  position: fixed;
  z-index: 20;
}

.bar{
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 30px;
  background-color: white;
}

.bar-top{
  top: 0;
}

.bar-bottom{
  bottom: 0;
}

.header{
  position: fixed;
  top: 30px;
  left: 30px;
  right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.header-logo {
  height: 60px;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-button{
  margin-left: 30px;
}

.pagination-container{
  position: fixed;
  right: 75px;
  width:30px;
  height: 100%;
  display: flex;
  align-items: center;
}
.pagination{
  width: 100%;
}

.pager{
  width: 100%;
  background-image: linear-gradient(white, white);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 16px 0;
  cursor: pointer;

  &:hover{
    background-size: 40% 6px;
  }
}

.footer{
  position: fixed;
  bottom: 30px;
  left: 30px;
  right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}
