@import 'bootstrap/bootstrap-flex.scss';
@import 'bootstrap-overide.scss';
@import '_vars.scss';
@import 'icon-font.scss';
@import 'generic.scss';

.wrapper{
  margin:0 30px;
}

.bar{
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 30px;
  background-color: white;
}

.bar-top{
  top: 0;
}

.bar-bottom{
  bottom: 0;
}

.header{
  position: fixed;
  top: 30px;
  left: 30px;
  right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

.header-logo {
  height: 60px;
}

.header-icons {
  height: 40px;
  color:forestgreen;
  align-items: center;
}

.footer{
  position: fixed;
  bottom: 30px;
  left: 30px;
  right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.page{
  height: 100vh;
}

// main page
.main-page{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-image: url("../img/book-bg.jpg");
  background-position: center;
  background-size: cover;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.page-title {
  display: inline-block;
  border-bottom: 1px solid black;
}

// page 2
.page-2{
  background-color: hotpink;
}


//page 3
.page-3{
  background-color: blueviolet;
}
