@import 'bootstrap/bootstrap-flex.scss';
@import 'bootstrap-overide.scss';
@import '_vars.scss';
@import 'icon-font.scss';
@import 'generic.scss';
@import 'overlay.scss';

html, body{
  height: 100%;
  overflow: hidden;
}

.wrapper{
  height: 100%;
}

.white-overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(.59,.04,.33,.94);
  transform: scaleY(0);
  transform-origin: bottom;
  z-index: 30;
  background-color: white;

  &.slide-in{
    transform: scaleY(1);
  }

  &.slide-out{
    transform-origin: top;
    transform: scaleY(0);
  }

  &.page-up{
    transform-origin: top;

    &.slide-out{
      transform-origin: bottom;
    }
  }
}

.page{
  height: 100vh;
  margin:0 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  transition-timing-function: cubic-bezier(.59,.04,.33,.94);

  &.active{
    z-index: 1;
  }

  &.slide-out{
    transition: transform 0.5s;
    //top: -100px;
    transform: translateY(-100px);
  }

  &.slide-in{
    transition: transform 0.5s;
    top: 100px;
    transform: translateY(-100px);
  }

  &.page-up{
    &.slide-out{
      transform: translateY(100px);
    }

    &.slide-in{
      top: -100px;
      transform: translateY(100px);
    }
  }
}

// main page
.main-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/grass-bg.jpg");
  background-position: center;
  background-size: cover;
}

.page-title {
  display: inline-block;
  border-bottom: 1px solid black;
}

.content-image {
  height: 100px;
  align-items: center;
  margin: 30px;
}

// page 2
.page-2{
  background-color: $lgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.image-container{
  width: 50%;
  display: flex;
  flex-flow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.coffee-image{
  width: 50%;
}

.text-container{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
//page 3
.page-3{
  background-color: $lgreen;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $dbrown;
  background-image: url("../img/bg-shape.svg");
  background-position: bottom;
  background-size: cover;
}

//page 4
.page-4{
  background-color: $lblue;
}

//footer-menu
.footer-menu{
  display: flex;
  flex-direction: row;
}

.footer-column{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 33.33%;
//  justify-content:space-around;
  align-items: center;
}

.color-1{
  background-color: $grey1;
}

.color-2{
  background-color: $grey2;
}

.icon-container{
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-text-container{
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
//  justify-content: space-around;
}

.footer-logo{
  height: 60px;
}

.footer-icon{
  padding: 6px;
  font-size: 1.2em;

}
